{% extends "base.html" %}
{% load static %}
{% block css_files %} 
<link rel="stylesheet" href="{% static 'cssfiles/about.css' %}">
{% endblock %}
{% block title %} About us {% endblock %}


{% block content %}
<hr class="styled-hr">
<h1 class="contact-title" style="color: rgb(8,8,8)">About Sp Medikal</h1>
<hr class="styled-hr">


<div class="container">
    <div class="item">
        <img src="{% static "images/aboutus.png" %}" alt="Açıklama">
      </div>
    <div class="itemtext"> <h5> SP Medikal San Ltd Sti, based in Istanbul - Turkey, with a European management, is dedicated to the development , production and distribution of Sterility Assurance Products in accordance with the latest international standards. 
        SP Medikal combines over 30 years of experience, expertise and know-how by its founding partners with markets in Africa, Asia, Europe, Middle East, and South-America. 
        Due to th   is broad experience , SP Medikal is offering a complete product range of CSSD Products and services which meets the requirements and needs of today’s Central Sterile Supply Departments in Healthcare facilities. 
        Over more then 70 countries are served by SP Medikal through exclusive distributors and over 25 countries through her second production facility in South-America.
        The Sterility Assurance Products SP Medikal provides can be categorized into 4 groups i.e. 
    </h5>
        <h5>  
        - Sterilizer Monitoring 
        </h5>
        <h5>
        - Documentation / Traceability
        </h5>
        <h5>
        - Sterile Barrier Systems 
        </h5>
        <h5>
        - Cleaning / Disinfection 
        </h5>
        <h5>
        - Accessories
        <h5>
        All Sterintech™ branded products are produced and/or assembled in our up-to-date production facility. The development, production and packaging of our products are meeting our quality assurance procedures as laid down in our ISO 13485 quality manual accredited by KIWA.
    </h5></div>
  </div>


  <div class="container">
   
    <div class="itemtext"> 
        <h5>
         All Sterintech™ branded products are produced and/or assembled in our up-to-date production facility. The development, production and packaging of our products are meeting our quality assurance procedures as laid down in our ISO 13485 quality manual accredited by KIWA. 
        SP Medikal is a GMDN registered manufacturer and has a Medical Device Manufacturer’s certificate and registration by the Turkish Government. 
        Medical Devices amongst our product range are CE-marked and certified (sterile barrier systems) and fulfill requirements of Medical Device Directive 93/42 EEC.
        Our products comply with the requirements as laid down in the latest versions of the following standards: 
        </h5>
        <h5>  
            - EN 285            
        </h5>
        <h5>
            - EN 865 / 866 / 867 / 868
        </h5>
        <h5>
            - ISO 13060 
        </h5>
        <h5>
            - ISO 11138 
        </h5>
        <h5>
            - ISO 11140 
        </h5>
        <h5>
            - ISO 11607 
        </h5>
        <h5>
            All our products are carrying our brandname Sterintech™ but are also available as OEM product. 
    </h5></div>
    <div class="item">
        <img src="{% static "images/quality.png" %}" alt="Açıklama">
      </div>
  </div>



 
      
{% endblock %}