:root {
  --main-color: rgb(14, 150, 91);
  --background-color: whitesmoke;
  --text-color: #110f29;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;

}

.wrapper {
  width: 95%;
  margin: 0 auto;
  background-color: rgba(40, 74, 107, 0.3);
  border-radius: 0.4rem;
  position: relative;
}

#search-container {
  margin: 1em 0;
 
}

#search-container input {
  background-color: transparent;
  width: 100%;
  max-width: 600px; /* Maksimum genişlik */
  border-bottom: 2px solid var(--text-color);
  padding: 1em 0.3em;
  color: #ffffff;
  transition: border-bottom-color 0.3s;
}

#search-container input:focus {
  border-bottom-color: var(--main-color);
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: var(--main-color);
  color: #ffffff;
  border-radius: 50px;
  margin-top: 0.5em;
  transition: background-color 0.3s, color 0.3s;
}

#search-container button:hover {
  background-color: #ffffff; 
  color: var(--main-color);
}

.button-value {
  border: 2px solid var(--main-color);
  padding: 1em 2.5em;
  border-radius: 3em;
  background-color: transparent;
  color: var(--main-color);
  cursor: pointer;
 
  transition: background-color 0.3s, color 0.3s;
}

.button-value:hover {
  background-color: var(--main-color);
  color: #ffffff;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Esnek sütun sayısı */
  grid-gap: 1.5em; /* Sütunlar arasındaki boşluk */
  padding: 2em 0;
}

a.card {
  background-color: rgba(40, 74, 107, 0.3);
  
  margin: 1em; /* Etrafında boşluk bırakma */
  border-bottom-right-radius: 19px;
  border-top-left-radius: 29px;
  box-shadow: 1em 2em 2.5em 1em rgba(237, 237, 244, 0.153);
  text-decoration:none; /* Link alt çizgisi kaldırılır */
  -webkit-text-fill-color: #ffffff;
  color: inherit; /* Kart içerisindeki yazı rengi korunur */
  cursor: pointer; /* Tıklanabilir olduğunu belirtir */
  border-bottom: 5px solid green; /* Yeşil border ekleniyor */
  border-top: 1px solid green;
 
}
a.card:hover {
  transform: translateY(-5px); /* Hover olduğunda hafifçe yukarı kaydırma */
  box-shadow: 1em 2em 2.5em rgba(0, 0, 0, 0.1); /* Daha belirgin gölge */
}
.image-container {
  text-align: center;
}

a.card img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
  border-radius: 2rem;
  -webkit-box-reflect: below -100px 
      linear-gradient(transparent, rgba(0, 0, 0, 0.2)); /* Yansıma */
 
}

.container {
  padding-top: 1em;
  color: var(--text-color);
}

.container h5 {
  font-weight: 500;
}

.hide {
  display: none;
}

@media screen and (max-width: 720px) {
  img {
    height: 10em;
  }

  .card {
    max-width: 100%; /* Kart genişliği %100 */
    margin: 0 auto; /* Merkeze yerleştirme */
  }
}
@media (max-width: 768px) {
  #search-container {
    flex-direction: column; /* Arama kutusunu ve butonu alt alta hizala */
    align-items: stretch; /* Arama kutusu ve butonu tam genişlikte yap */
    width: 100%;
  }

  #search {
    margin-top: 10px; /* Arama butonuna üstten boşluk ekleyelim */
  }
}